{% extends 'core/base.html' %}
{% load static %}
{% block content %}

<link rel="stylesheet" type="text/css" href="{% static 'core/topics.css' %}">
<nav class="navbar">
    <div id="navbarExampleTransparentExample" class="navbar-menu">
        <div class="navbar-start">
            <a class="navbar-item" href="https://bulma.io/">
                Home
            </a>
            <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link" href="/documentation/overview/start/">
                    Docs
                </a>
                <div class="navbar-dropdown is-boxed">
                    <a class="navbar-item" href="/documentation/overview/start/">
                    Overview
                    </a>
                    <a class="navbar-item" href="https://bulma.io/documentation/modifiers/syntax/">
                    Modifiers
                    </a>
                    <a class="navbar-item" href="https://bulma.io/documentation/columns/basics/">
                        Columns
                    </a>
                    <a class="navbar-item" href="https://bulma.io/documentation/layout/container/">
                    Layout
                    </a>
                    <a class="navbar-item" href="https://bulma.io/documentation/form/general/">
                    Form
                    </a>
                    <hr class="navbar-divider">
                    <a class="navbar-item" href="https://bulma.io/documentation/elements/box/">
                    Elements
                    </a>
                    <a class="navbar-item is-active" href="https://bulma.io/documentation/components/breadcrumb/">
                    Components
                    </a>
                </div>
            </div>
        </div>
    </div>
</nav>

<div class="container" style="height: 100%;">
    {% if topic_list %}
        <div class="columns is-multiline">
            {% for topic in topic_list %}
                <a class="column is-4" href="{% url 'core:detail' topic.id %}">
                    <div class="tile notification">
                        <div class="topic content">
                            <p class="title">{{ topic }}</p>
                            <p class="subtitle">With even more content</p>
                            <div class="content">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus nostrum ipsum suscipit numquam, fugit nesciunt laudantium placeat possimus tempore labore laboriosam sed molestiae, quaerat at similique provident laborum sint perspiciatis!
                            </div>                            
                        </div>
                    </div>
                </a>
            {% endfor %}
        </div>
    {% else %}
        <p>No topics are available.</p>
    {% endif %}
</div>

{% endblock %}