{% extends 'core/base.html' %}
{% load static %}
{% block content %}

<link rel="stylesheet" type="text/css" href="{% static 'core/item_detail.css' %}">

<h2>{{ item }}</h1>

<h3>Topic: {{ item.topic }}, Rating: {{ item.rating }}</h3>

<img src="{{ item.img_src }}" width=100><br>

<a href="{{ item.link }}" target="_blank">Go to item</a>

<div class="description_container">
    <p>{{ item.description }}</p>
</div>

<h4>Reviews</h4>

{% for review in reviews.all %}
<h4>{{ review.user.username }}  {{ review.score }}</h4>
<p>{{ review.content }}</p>
{% endfor %}

{% endblock %}