{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'core/navbar.css' %}">

<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item title is-4" href="{% url 'core:index' %}">
            <i class="fas fa-book-reader"></i>
            SmartShare
        </a>
    </div>
    <div class="navbar-menu">
        <div class="navbar-start">
            <div class="navbar-item has-dropdown is-hoverable">
                <a id="nav-link" class="navbar-link">Topics</a>
                {% if topic_list %}
                <div class="navbar-dropdown">
                    {% for topic in topic_list %}
                    <a href="{% url 'core:topic_detail' topic.id %}" class="navbar-item">{{ topic }}</a>
                    {% endfor %}
                </div>
                {% endif %}
            </div>
            <div class="navbar-item has-dropdown is-hoverable">
                <a id="nav-link" class="navbar-link">Type</a>
                <div class="navbar-dropdown">
                    <a href="" class="navbar-item">Book</a>
                    <a href="" class="navbar-item">Video</a>
                    <a href="" class="navbar-item">Website</a>
                    <a href="" class="navbar-item">Physical</a>
                </div>
            </div>
            <a class="navbar-item" href="{% url 'core:item_create' %}">Post</a>
        </div>
        <div class="navbar-end">
            <div class="navbar-item">
                <div class="buttons">
                {% if user.is_authenticated %}
                    <a class="button is-primary" href="{% url 'logout' %}"><strong>Logout</strong></a>
                {% else %}
                    <a class="button is-primary" href="{% url 'core:signup' %}"><strong>Sign up</strong></a>
                    <a class="button is-light" href="{% url 'login' %}">Log in</a>
                {% endif %}
                </div>
            </div>
        </div>
    </div>
</nav>